<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/details.css">
    <title>Document</title>
</head>

<body>
    <header>
        <a href="{{ url_for('index') }}">
            <h1>Go back to Home page</h1>
        </a>
    </header>

    <main>
        <div class="hotel-container">
            <div class="details">
                <h1>{{ details[1] }}</h1>
                <h1>{{ details[4] }}, {{ details[5] }}</h1>

                <h1>{{ details[3] }}</h1>
                <h1>Rating: {{ details[6] }}/10</h1>
                <h1>Address: {{ details[2] }}</h1>
            </div>

            <img src="../static/images/{{ hotel_id }}.jpg">
        </div>




        <form action="{{ url_for('details')}}" method="post">
            <ul class="booking">
                <li>
                    Check-in:
                    <input type="date" name="check-in" min="{{ latest_date  }}" required>
                </li>
                <li>
                    Check-out:
                    <input type="date" name="check-out" min="{{ latest_date }}" required>
                </li>





                <li>
                    {% if rooms[0] == "Yes" and rooms[1] == "Yes" and rooms[2] == "Yes" %}
                        <input type="radio" name="room" value="Single room ($40)">
                        Single room ($40)
                        <input type="radio" name="room" value="Double room ($80)">
                        Double Standard room ($80)
                        <input type="radio" name="room" value="Family room ($120)">
                        Family room ($120)
                   
                    {% elif rooms[0] == "No" and rooms[1] == "Yes" and rooms[2] == "Yes"%} 
                        <input type="radio" name="room" value="Single room ($40)" disabled>
                        Single room ($40)
                        <input type="radio" name="room" value="Double room ($80)">
                        Double Standard room ($80)
                        <input type="radio" name="room" value="Family room ($120)">
                        Family room ($120)
                
                    {% elif rooms[0] == "No" and rooms[1] == "No" and rooms[2] == "Yes"%}
                        <input type="radio" name="room" value="Single room ($40)" disabled>
                        Single room ($40)
                        <input type="radio" name="room" value="Double room ($80)" disabled>
                        Double Standard room ($80)
                        <input type="radio" name="room" value="Family room ($120)">
                        Family room ($120)
                
                        {% elif rooms[0] == "Yes" and rooms[1] == "No" and rooms[2] == "Yes"%}
                        <input type="radio" name="room" value="Single room ($40)">
                        Single room ($40)
                        <input type="radio" name="room" value="Double room ($80)" disabled>
                        Double Standard room ($80)
                        <input type="radio" name="room" value="Family room ($120)">
                        Family room ($120)

                        {% elif rooms[0] == "Yes" and rooms[1] == "Yes" and rooms[2] == "No"%}
                        <input type="radio" name="room" value="Single room ($40)" >
                        Single room ($40)
                        <input type="radio" name="room" value="Double room ($80)" >
                        Double Standard room ($80)
                        <input type="radio" name="room" value="Family room ($120)" disabled>
                        Family room ($120)

                        {% elif rooms[0] == "Yes" and rooms[1] == "No" and rooms[2] == "Yes"%}
                        <input type="radio" name="room" value="Single room ($40)" >
                        Single room ($40)
                        <input type="radio" name="room" value="Double room ($80)" disabled>
                        Double Standard room ($80)
                        <input type="radio" name="room" value="Family room ($120)" >
                        Family room ($120)
                        
                        {% elif rooms[0] == "Yes" and rooms[1] == "No" and rooms[2] == "No"%}
                        <input type="radio" name="room" value="Single room ($40)">
                        Single room ($40)
                        <input type="radio" name="room" value="Double room ($80)" disabled>
                        Double Standard room ($80)
                        <input type="radio" name="room" value="Family room ($120)" disabled>
                        Family room ($120)
                
                
                
                        {% elif rooms[0] == "No" and rooms[1] == "Yes" and rooms[2] == "No"%}
                        <input type="radio" name="room" value="Single room ($40)" disabled>
                        Single room ($40)
                        <input type="radio" name="room" value="Double room ($80)" >
                        Double Standard room ($80)
                        <input type="radio" name="room" value="Family room ($120)" disabled>
                        Family room ($120)
                
                
                        {% endif %}




                </li>


            </ul>
            <input type="hidden" name="hotel_id" value="{{ request.args.get('hotel_id') }}">
            <button class="book-now">Book Now</button>
        </form>





    </main>
</body>

</html>